.welcome {
  color: white;
  font-size: xxx-large;
  line-height: 1.2em;
  padding-bottom: 1em;
  align-items: center;
  span {
    color: var(--color-primary);
  }
  img {
    min-width: 40vh;
  }
}

.blogs {
  color: var(--color-primary);
  letter-spacing: 0;
  h2 {
    font-size: x-large;
    line-height: 1.5em;
  }
  p {
    color: white;
    line-height: 1.2em;
  }
}
