

.footer {
    color: var(--color-primary);
    h2 {
      font-size: xx-large;
      line-height: 2em;
    }

    border-top: #000 solid 3px;
    
    
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 50px;

    span{
        color: white;
    }
  }
  